Why Polars over Pandas?

Polars was built from the ground up to be blazingly fast and can do common operations around 5–10 times faster than pandas. In addition, the memory requirement for Polars operations is significantly smaller than for pandas: pandas requires around 5 to 10 times as much RAM as the size of the dataset to carry out operations, compared to the 2 to 4 times needed for Polars.

- Written in Rust, similar to C, C++ in terms of execution speed.
- Pandas built on top of Python package Numpy which uses C, and struggles with how it handles string.
- Better concurrency (all cores can be utilized)
- Based on apache arrow, interoperability.
    - It uses standarized data format that can be used across different popular library pandas, spark, kudu, parquet, etc.
    - Avoidin serialize and deserialization.

In [23]:
#!pip install polars 

import polars as pl

In [24]:
"""Create Polars Dataframe"""

pl.DataFrame(
    {
        "name" : ["A", "B","C"],
        "age": [1, 2, 3]
    }
)

shape: (3, 2)
┌──────┬─────┐
│ name ┆ age │
│ ---  ┆ --- │
│ str  ┆ i64 │
╞══════╪═════╡
│ A    ┆ 1   │
│ B    ┆ 2   │
│ C    ┆ 3   │
└──────┴─────┘

In [25]:
"""Read a csv using polars.read_csv"""

data = pl.read_csv('./titanic.csv')
data.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [26]:
"""data type of columns"""

data.dtypes

[Int64,
 Int64,
 Int64,
 String,
 String,
 Float64,
 Int64,
 Int64,
 String,
 Float64,
 String,
 String]

In [27]:
"""schema or columns of your data"""

data.schema

Schema([('PassengerId', Int64),
        ('Survived', Int64),
        ('Pclass', Int64),
        ('Name', String),
        ('Sex', String),
        ('Age', Float64),
        ('SibSp', Int64),
        ('Parch', Int64),
        ('Ticket', String),
        ('Fare', Float64),
        ('Cabin', String),
        ('Embarked', String)])

In [28]:
pl.read_csv('./titanic.csv', infer_schema=False).head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ str         ┆ str      ┆ str    ┆ str               ┆   ┆ str       ┆ str     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [29]:
"""Only columns of the data"""

data.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [30]:
"""Rows and Columns"""

data.shape

(891, 12)

In [31]:
"""Basic Stats on data"""

data.describe()

shape: (9, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ statistic  ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ 25%        ┆ 224.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 7.925     ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 75%        ┆ 669.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 31.0      ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘

In [35]:
"""Pick Random Samples with replacement"""

data.sample(n=10, seed=0)

shape: (10, 12)
┌─────────────┬──────────┬────────┬───────────────┬───┬───────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name          ┆ … ┆ Ticket        ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---           ┆   ┆ ---           ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str           ┆   ┆ str           ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════╪═══╪═══════════════╪═════════╪═══════╪══════════╡
│ 395         ┆ 1        ┆ 3      ┆ Sandstrom,    ┆ … ┆ PP 9549       ┆ 16.7    ┆ G6    ┆ S        │
│             ┆          ┆        ┆ Mrs. Hjalmar  ┆   ┆               ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Agnes…       ┆   ┆               ┆         ┆       ┆          │
│ 388         ┆ 1        ┆ 2      ┆ Buss, Miss.   ┆ … ┆ 27849         ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Kate          ┆   ┆               ┆         ┆       ┆          │
│ 867         ┆ 1        ┆ 2      ┆ Duran y More, ┆ … ┆ SC/PARIS 2149 ┆ 13.8583 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Miss.         ┆   ┆               ┆         ┆       ┆          │
│             ┆          ┆        ┆ Asuncion      ┆   ┆               ┆         ┆       ┆          │
│ 410         ┆ 0        ┆ 3      ┆ Lefebre,      ┆ … ┆ 4133          ┆ 25.4667 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Miss. Ida     ┆   ┆               ┆         ┆       ┆          │
│ 795         ┆ 0        ┆ 3      ┆ Dantcheff,    ┆ … ┆ 349203        ┆ 7.8958  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mr. Ristiu    ┆   ┆               ┆         ┆       ┆          │
│ 837         ┆ 0        ┆ 3      ┆ Pasic, Mr.    ┆ … ┆ 315097        ┆ 8.6625  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Jakob         ┆   ┆               ┆         ┆       ┆          │
│ 523         ┆ 0        ┆ 3      ┆ Lahoud, Mr.   ┆ … ┆ 2624          ┆ 7.225   ┆ null  ┆ C        │
│             ┆          ┆        ┆ Sarkis        ┆   ┆               ┆         ┆       ┆          │
│ 406         ┆ 0        ┆ 2      ┆ Gale, Mr.     ┆ … ┆ 28664         ┆ 21.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Shadrach      ┆   ┆               ┆         ┆       ┆          │
│ 352         ┆ 0        ┆ 1      ┆ Williams-Lamb ┆ … ┆ 113510        ┆ 35.0    ┆ C128  ┆ S        │
│             ┆          ┆        ┆ ert, Mr.      ┆   ┆               ┆         ┆       ┆          │
│             ┆          ┆        ┆ Fletcher…     ┆   ┆               ┆         ┆       ┆          │
│ 730         ┆ 0        ┆ 3      ┆ Ilmakangas,   ┆ … ┆ STON/O2.      ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Miss. Pieta   ┆   ┆ 3101271       ┆         ┆       ┆          │
│             ┆          ┆        ┆ Sofia         ┆   ┆               ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────┴───┴───────────────┴─────────┴───────┴──────────┘

In [39]:
"""Handle sensitive information using hash_rows"""

data.hash_rows()

shape: (891,)
Series: '' [u64]
[
	12390185154443768781
	4272254447490207055
	11748959180842246540
	6284992647284586780
	10595624317311043842
	…
	13511004476170039329
	6740564057463475827
	14819379494895030569
	12041094271256195589
	16566577748700670310
]

In [42]:
"""Get size of the dataframe"""

data.estimated_size('mb')

0.08188438415527344

In [43]:
"""Getting count across columns"""

data.count()

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 891         ┆ 891      ┆ 891    ┆ 891  ┆ … ┆ 891    ┆ 891  ┆ 204   ┆ 889      │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

In [44]:
"""Find nulls across columns"""

data.null_count()

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

In [45]:
"""Remove rows containing single null in a column"""

data.drop_nulls()

shape: (183, 12)
┌─────────────┬──────────┬────────┬──────────────┬───┬──────────┬─────────┬─────────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name         ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin       ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---          ┆   ┆ ---      ┆ ---     ┆ ---         ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str          ┆   ┆ str      ┆ f64     ┆ str         ┆ str      │
╞═════════════╪══════════╪════════╪══════════════╪═══╪══════════╪═════════╪═════════════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings,     ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85         ┆ C        │
│             ┆          ┆        ┆ Mrs. John    ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Bradley (Fl… ┆   ┆          ┆         ┆             ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle,    ┆ … ┆ 113803   ┆ 53.1    ┆ C123        ┆ S        │
│             ┆          ┆        ┆ Mrs. Jacques ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Heath (…     ┆   ┆          ┆         ┆             ┆          │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy,    ┆ … ┆ 17463    ┆ 51.8625 ┆ E46         ┆ S        │
│             ┆          ┆        ┆ Mr. Timothy  ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ J            ┆   ┆          ┆         ┆             ┆          │
│ 11          ┆ 1        ┆ 3      ┆ Sandstrom,   ┆ … ┆ PP 9549  ┆ 16.7    ┆ G6          ┆ S        │
│             ┆          ┆        ┆ Miss.        ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Marguerite   ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Ru…          ┆   ┆          ┆         ┆             ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell,     ┆ … ┆ 113783   ┆ 26.55   ┆ C103        ┆ S        │
│             ┆          ┆        ┆ Miss.        ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Elizabeth    ┆   ┆          ┆         ┆             ┆          │
│ …           ┆ …        ┆ …      ┆ …            ┆ … ┆ …        ┆ …       ┆ …           ┆ …        │
│ 872         ┆ 1        ┆ 1      ┆ Beckwith,    ┆ … ┆ 11751    ┆ 52.5542 ┆ D35         ┆ S        │
│             ┆          ┆        ┆ Mrs. Richard ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Leonard…     ┆   ┆          ┆         ┆             ┆          │
│ 873         ┆ 0        ┆ 1      ┆ Carlsson,    ┆ … ┆ 695      ┆ 5.0     ┆ B51 B53 B55 ┆ S        │
│             ┆          ┆        ┆ Mr. Frans    ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Olof         ┆   ┆          ┆         ┆             ┆          │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs. ┆ … ┆ 11767    ┆ 83.1583 ┆ C50         ┆ C        │
│             ┆          ┆        ┆ Thomas Jr    ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ (Lily A…     ┆   ┆          ┆         ┆             ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham,      ┆ … ┆ 112053   ┆ 30.0    ┆ B42         ┆ S        │
│             ┆          ┆        ┆ Miss.        ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Margaret     ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Edith        ┆   ┆          ┆         ┆             ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr.    ┆ … ┆ 111369   ┆ 30.0    ┆ C148        ┆ C        │
│             ┆          ┆        ┆ Karl Howell  ┆   ┆          ┆         ┆             ┆          │
└─────────────┴──────────┴────────┴──────────────┴───┴──────────┴─────────┴─────────────┴──────────┘