### Polars Series - Lesson III - GroupBy and Simple Data Analysis

In [103]:
import polars as pl

In [104]:
data = pl.read_csv('./titanic.csv')
data.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [105]:
"""Simple GroupBy operation: How many men and women?"""

data.group_by('Sex').len()

shape: (2, 2)
┌────────┬─────┐
│ Sex    ┆ len │
│ ---    ┆ --- │
│ str    ┆ u32 │
╞════════╪═════╡
│ male   ┆ 577 │
│ female ┆ 314 │
└────────┴─────┘

In [106]:
"""Creating percentage for the above result."""

data.group_by('Sex').len().with_columns((pl.col('len')/pl.sum('len')).alias('Percent'))

shape: (2, 3)
┌────────┬─────┬──────────┐
│ Sex    ┆ len ┆ Percent  │
│ ---    ┆ --- ┆ ---      │
│ str    ┆ u32 ┆ f64      │
╞════════╪═════╪══════════╡
│ female ┆ 314 ┆ 0.352413 │
│ male   ┆ 577 ┆ 0.647587 │
└────────┴─────┴──────────┘

In [108]:
"""GroupBy operation with multiple columns: Gender and Survival in percentage terms"""

data.group_by(['Sex', 'Survived']).len().with_columns((pl.col('len')/pl.sum('len')).alias('Percent'))

shape: (4, 4)
┌────────┬──────────┬─────┬──────────┐
│ Sex    ┆ Survived ┆ len ┆ Percent  │
│ ---    ┆ ---      ┆ --- ┆ ---      │
│ str    ┆ i64      ┆ u32 ┆ f64      │
╞════════╪══════════╪═════╪══════════╡
│ female ┆ 0        ┆ 81  ┆ 0.090909 │
│ male   ┆ 0        ┆ 468 ┆ 0.525253 │
│ male   ┆ 1        ┆ 109 ┆ 0.122334 │
│ female ┆ 1        ┆ 233 ┆ 0.261504 │
└────────┴──────────┴─────┴──────────┘

In [109]:
"""Simple GroupBy with aggregations: Gender and mean Fare"""

data.group_by('Sex').agg(pl.mean('Fare'))

shape: (2, 2)
┌────────┬───────────┐
│ Sex    ┆ Fare      │
│ ---    ┆ ---       │
│ str    ┆ f64       │
╞════════╪═══════════╡
│ female ┆ 44.479818 │
│ male   ┆ 25.523893 │
└────────┴───────────┘

In [111]:
"""Complex GroupBy with Aggregation - I: Which Pclass with Sex has survived?"""

data.group_by(['Pclass', 'Sex']).agg(pl.col('Survived').value_counts())

shape: (6, 3)
┌────────┬────────┬───────────────────┐
│ Pclass ┆ Sex    ┆ Survived          │
│ ---    ┆ ---    ┆ ---               │
│ i64    ┆ str    ┆ list[struct[2]]   │
╞════════╪════════╪═══════════════════╡
│ 3      ┆ female ┆ [{0,72}, {1,72}]  │
│ 1      ┆ female ┆ [{1,91}, {0,3}]   │
│ 2      ┆ female ┆ [{0,6}, {1,70}]   │
│ 3      ┆ male   ┆ [{1,47}, {0,300}] │
│ 1      ┆ male   ┆ [{1,45}, {0,77}]  │
│ 2      ┆ male   ┆ [{1,17}, {0,91}]  │
└────────┴────────┴───────────────────┘

In [115]:
"""Complex Groupby with aggregation - II: Percentage of male survived?"""

data.group_by('Survived').agg(pl.arg_where(pl.col('Sex')=='male').len()).with_columns((pl.col('Sex')/pl.sum('Sex')).alias('Percent'))

shape: (2, 3)
┌──────────┬─────┬──────────┐
│ Survived ┆ Sex ┆ Percent  │
│ ---      ┆ --- ┆ ---      │
│ i64      ┆ u32 ┆ f64      │
╞══════════╪═════╪══════════╡
│ 0        ┆ 468 ┆ 0.811092 │
│ 1        ┆ 109 ┆ 0.188908 │
└──────────┴─────┴──────────┘

In [116]:
"""Percentage of female survived?"""

data.group_by('Survived').agg(pl.arg_where(pl.col('Sex')=='female').len()).with_columns((pl.col('Sex')/pl.sum('Sex')).alias('Percent'))

shape: (2, 3)
┌──────────┬─────┬──────────┐
│ Survived ┆ Sex ┆ Percent  │
│ ---      ┆ --- ┆ ---      │
│ i64      ┆ u32 ┆ f64      │
╞══════════╪═════╪══════════╡
│ 0        ┆ 81  ┆ 0.257962 │
│ 1        ┆ 233 ┆ 0.742038 │
└──────────┴─────┴──────────┘

**Simple Data Analysis**

In [117]:
"""How money matter for survival?"""

data.group_by('Survived').agg(pl.mean('Fare'))

shape: (2, 2)
┌──────────┬───────────┐
│ Survived ┆ Fare      │
│ ---      ┆ ---       │
│ i64      ┆ f64       │
╞══════════╪═══════════╡
│ 0        ┆ 22.117887 │
│ 1        ┆ 48.395408 │
└──────────┴───────────┘

In [118]:
"""Does Age matters for survival?"""

data.group_by('Survived').agg(pl.mean('Age'))

shape: (2, 2)
┌──────────┬───────────┐
│ Survived ┆ Age       │
│ ---      ┆ ---       │
│ i64      ┆ f64       │
╞══════════╪═══════════╡
│ 0        ┆ 30.626179 │
│ 1        ┆ 28.34369  │
└──────────┴───────────┘

In [120]:
"""Does Gender matters for survival?"""

data.filter(pl.col('Survived')==1)['Sex'].value_counts()

shape: (2, 2)
┌────────┬───────┐
│ Sex    ┆ count │
│ ---    ┆ ---   │
│ str    ┆ u32   │
╞════════╪═══════╡
│ female ┆ 233   │
│ male   ┆ 109   │
└────────┴───────┘