## Polars: Join

In [2]:
import polars as pl

In [2]:
person = pl.DataFrame(
    {
        "id" : [1, 2, 3, 4, 5, 6, 7, 8],
        "name": ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
        "city": ['CH', 'BG', 'CH', 'CH', 'BG', 'BG', 'BG', 'CH'],
        "age": [23, 27, 25, 25, 26, 23, 31, 29]
        
    }
)

department = pl.DataFrame(
    {
        "id" : [1, 2, 3, 4, 5, 8, 9, 10],
        "dpt_name": ['PA', 'PB', 'PA', 'PA', 'PB', 'PB', 'PC', 'PC'],
        "dpt_salary": [4500, 7000, 4500, 5000, 9000, 8000, 1000, 1500]
        
    }
)

In [4]:
department

shape: (8, 3)
┌─────┬──────────┬────────────┐
│ id  ┆ dpt_name ┆ dpt_salary │
│ --- ┆ ---      ┆ ---        │
│ i64 ┆ str      ┆ i64        │
╞═════╪══════════╪════════════╡
│ 1   ┆ PA       ┆ 4500       │
│ 2   ┆ PB       ┆ 7000       │
│ 3   ┆ PA       ┆ 4500       │
│ 4   ┆ PA       ┆ 5000       │
│ 5   ┆ PB       ┆ 9000       │
│ 8   ┆ PB       ┆ 8000       │
│ 9   ┆ PC       ┆ 1000       │
│ 10  ┆ PC       ┆ 1500       │
└─────┴──────────┴────────────┘

In [51]:
"""Simple Join on Two Dataframes"""

person.join(department, on='id')

shape: (6, 6)
┌─────┬──────┬──────┬─────┬──────────┬────────────┐
│ id  ┆ name ┆ city ┆ age ┆ dpt_name ┆ dpt_salary │
│ --- ┆ ---  ┆ ---  ┆ --- ┆ ---      ┆ ---        │
│ i64 ┆ str  ┆ str  ┆ i64 ┆ str      ┆ i64        │
╞═════╪══════╪══════╪═════╪══════════╪════════════╡
│ 1   ┆ A    ┆ CH   ┆ 23  ┆ PA       ┆ 4500       │
│ 2   ┆ B    ┆ BG   ┆ 27  ┆ PB       ┆ 7000       │
│ 3   ┆ C    ┆ CH   ┆ 25  ┆ PA       ┆ 4500       │
│ 4   ┆ D    ┆ CH   ┆ 25  ┆ PA       ┆ 5000       │
│ 5   ┆ E    ┆ BG   ┆ 26  ┆ PB       ┆ 9000       │
│ 8   ┆ H    ┆ CH   ┆ 29  ┆ PB       ┆ 8000       │
└─────┴──────┴──────┴─────┴──────────┴────────────┘

In [52]:
person.join(department, on='id', how='inner')

shape: (6, 6)
┌─────┬──────┬──────┬─────┬──────────┬────────────┐
│ id  ┆ name ┆ city ┆ age ┆ dpt_name ┆ dpt_salary │
│ --- ┆ ---  ┆ ---  ┆ --- ┆ ---      ┆ ---        │
│ i64 ┆ str  ┆ str  ┆ i64 ┆ str      ┆ i64        │
╞═════╪══════╪══════╪═════╪══════════╪════════════╡
│ 1   ┆ A    ┆ CH   ┆ 23  ┆ PA       ┆ 4500       │
│ 2   ┆ B    ┆ BG   ┆ 27  ┆ PB       ┆ 7000       │
│ 3   ┆ C    ┆ CH   ┆ 25  ┆ PA       ┆ 4500       │
│ 4   ┆ D    ┆ CH   ┆ 25  ┆ PA       ┆ 5000       │
│ 5   ┆ E    ┆ BG   ┆ 26  ┆ PB       ┆ 9000       │
│ 8   ┆ H    ┆ CH   ┆ 29  ┆ PB       ┆ 8000       │
└─────┴──────┴──────┴─────┴──────────┴────────────┘

In [53]:
"""Left Join to return all data"""

person.join(department, on='id', how='left')

shape: (8, 6)
┌─────┬──────┬──────┬─────┬──────────┬────────────┐
│ id  ┆ name ┆ city ┆ age ┆ dpt_name ┆ dpt_salary │
│ --- ┆ ---  ┆ ---  ┆ --- ┆ ---      ┆ ---        │
│ i64 ┆ str  ┆ str  ┆ i64 ┆ str      ┆ i64        │
╞═════╪══════╪══════╪═════╪══════════╪════════════╡
│ 1   ┆ A    ┆ CH   ┆ 23  ┆ PA       ┆ 4500       │
│ 2   ┆ B    ┆ BG   ┆ 27  ┆ PB       ┆ 7000       │
│ 3   ┆ C    ┆ CH   ┆ 25  ┆ PA       ┆ 4500       │
│ 4   ┆ D    ┆ CH   ┆ 25  ┆ PA       ┆ 5000       │
│ 5   ┆ E    ┆ BG   ┆ 26  ┆ PB       ┆ 9000       │
│ 6   ┆ F    ┆ BG   ┆ 23  ┆ null     ┆ null       │
│ 7   ┆ G    ┆ BG   ┆ 31  ┆ null     ┆ null       │
│ 8   ┆ H    ┆ CH   ┆ 29  ┆ PB       ┆ 8000       │
└─────┴──────┴──────┴─────┴──────────┴────────────┘

In [54]:
"""Right Join to return all data"""

person.join(department, on='id', how='right')

shape: (8, 6)
┌──────┬──────┬──────┬─────┬──────────┬────────────┐
│ name ┆ city ┆ age  ┆ id  ┆ dpt_name ┆ dpt_salary │
│ ---  ┆ ---  ┆ ---  ┆ --- ┆ ---      ┆ ---        │
│ str  ┆ str  ┆ i64  ┆ i64 ┆ str      ┆ i64        │
╞══════╪══════╪══════╪═════╪══════════╪════════════╡
│ A    ┆ CH   ┆ 23   ┆ 1   ┆ PA       ┆ 4500       │
│ B    ┆ BG   ┆ 27   ┆ 2   ┆ PB       ┆ 7000       │
│ C    ┆ CH   ┆ 25   ┆ 3   ┆ PA       ┆ 4500       │
│ D    ┆ CH   ┆ 25   ┆ 4   ┆ PA       ┆ 5000       │
│ E    ┆ BG   ┆ 26   ┆ 5   ┆ PB       ┆ 9000       │
│ H    ┆ CH   ┆ 29   ┆ 8   ┆ PB       ┆ 8000       │
│ null ┆ null ┆ null ┆ 9   ┆ PC       ┆ 1000       │
│ null ┆ null ┆ null ┆ 10  ┆ PC       ┆ 1500       │
└──────┴──────┴──────┴─────┴──────────┴────────────┘

In [55]:
"""Get all rows"""

person.join(department, on='id', how='full')

shape: (10, 7)
┌──────┬──────┬──────┬──────┬──────────┬──────────┬────────────┐
│ id   ┆ name ┆ city ┆ age  ┆ id_right ┆ dpt_name ┆ dpt_salary │
│ ---  ┆ ---  ┆ ---  ┆ ---  ┆ ---      ┆ ---      ┆ ---        │
│ i64  ┆ str  ┆ str  ┆ i64  ┆ i64      ┆ str      ┆ i64        │
╞══════╪══════╪══════╪══════╪══════════╪══════════╪════════════╡
│ 1    ┆ A    ┆ CH   ┆ 23   ┆ 1        ┆ PA       ┆ 4500       │
│ 2    ┆ B    ┆ BG   ┆ 27   ┆ 2        ┆ PB       ┆ 7000       │
│ 3    ┆ C    ┆ CH   ┆ 25   ┆ 3        ┆ PA       ┆ 4500       │
│ 4    ┆ D    ┆ CH   ┆ 25   ┆ 4        ┆ PA       ┆ 5000       │
│ 5    ┆ E    ┆ BG   ┆ 26   ┆ 5        ┆ PB       ┆ 9000       │
│ 8    ┆ H    ┆ CH   ┆ 29   ┆ 8        ┆ PB       ┆ 8000       │
│ null ┆ null ┆ null ┆ null ┆ 9        ┆ PC       ┆ 1000       │
│ null ┆ null ┆ null ┆ null ┆ 10       ┆ PC       ┆ 1500       │
│ 6    ┆ F    ┆ BG   ┆ 23   ┆ null     ┆ null     ┆ null       │
│ 7    ┆ G    ┆ BG   ┆ 31   ┆ null     ┆ null     ┆ null       │
└──────┴──────┴──────┴──────┴──────────┴──────────┴────────────┘

### Cross Join

In [56]:
df_colors = pl.DataFrame(
    {
        "color": ["red", "blue", "green"],
    }
)
df_sizes = pl.DataFrame(
    {
        "size": ["S", "M", "L"],
    }
)

In [57]:
df_colors.join(df_sizes, how='cross')

shape: (9, 2)
┌───────┬──────┐
│ color ┆ size │
│ ---   ┆ ---  │
│ str   ┆ str  │
╞═══════╪══════╡
│ red   ┆ S    │
│ red   ┆ M    │
│ red   ┆ L    │
│ blue  ┆ S    │
│ blue  ┆ M    │
│ blue  ┆ L    │
│ green ┆ S    │
│ green ┆ M    │
│ green ┆ L    │
└───────┴──────┘

### Semi Join

In [5]:
df_cars = pl.DataFrame(
    {
        "id": ["a", "b", "c", "c"],
        "make": ["ford", "toyota", "bmw", "tesla"],
    }
)

df_repairs = pl.DataFrame(
    {
        "id": ["c", "c"],
        "cost": [100, 200],
    }
)

In [6]:
"""Which car got repaired?"""

df_cars.join(df_repairs, on='id' ,how='semi')

shape: (2, 2)
┌─────┬───────┐
│ id  ┆ make  │
│ --- ┆ ---   │
│ str ┆ str   │
╞═════╪═══════╡
│ c   ┆ bmw   │
│ c   ┆ tesla │
└─────┴───────┘

### Anti Join

In [7]:
"""Which cars didn't get repaired?"""

df_cars.join(df_repairs, on='id' ,how='anti')

shape: (2, 2)
┌─────┬────────┐
│ id  ┆ make   │
│ --- ┆ ---    │
│ str ┆ str    │
╞═════╪════════╡
│ a   ┆ ford   │
│ b   ┆ toyota │
└─────┴────────┘

In [63]:
"""Number of Employee from BG city whose salary is great than 8000"""

person.filter(pl.col('city')=='BG').join(department, on='id', how='left').filter(pl.col('dpt_salary')>8000)

shape: (1, 6)
┌─────┬──────┬──────┬─────┬──────────┬────────────┐
│ id  ┆ name ┆ city ┆ age ┆ dpt_name ┆ dpt_salary │
│ --- ┆ ---  ┆ ---  ┆ --- ┆ ---      ┆ ---        │
│ i64 ┆ str  ┆ str  ┆ i64 ┆ str      ┆ i64        │
╞═════╪══════╪══════╪═════╪══════════╪════════════╡
│ 5   ┆ E    ┆ BG   ┆ 26  ┆ PB       ┆ 9000       │
└─────┴──────┴──────┴─────┴──────────┴────────────┘

In [65]:
"""Top 3 individual with highest salary"""

department.bottom_k(reverse=True, k=3, by='dpt_salary').join(person, on='id', how='left')[['name', 'dpt_name', 'dpt_salary']]

shape: (3, 3)
┌──────┬──────────┬────────────┐
│ name ┆ dpt_name ┆ dpt_salary │
│ ---  ┆ ---      ┆ ---        │
│ str  ┆ str      ┆ i64        │
╞══════╪══════════╪════════════╡
│ E    ┆ PB       ┆ 9000       │
│ H    ┆ PB       ┆ 8000       │
│ B    ┆ PB       ┆ 7000       │
└──────┴──────────┴────────────┘

In [69]:
"""Avg. salary based on City: Join, GroupBy, Agg"""

person.join(department, on='id', how='left').group_by('city').agg(pl.mean('dpt_salary'))

shape: (2, 2)
┌──────┬────────────┐
│ city ┆ dpt_salary │
│ ---  ┆ ---        │
│ str  ┆ f64        │
╞══════╪════════════╡
│ CH   ┆ 5500.0     │
│ BG   ┆ 8000.0     │
└──────┴────────────┘

In [70]:
"""Avg. salary based on Department: GroupBy, Agg"""

department.group_by('dpt_name').agg(pl.mean('dpt_salary'))

shape: (3, 2)
┌──────────┬─────────────┐
│ dpt_name ┆ dpt_salary  │
│ ---      ┆ ---         │
│ str      ┆ f64         │
╞══════════╪═════════════╡
│ PA       ┆ 4666.666667 │
│ PB       ┆ 8000.0      │
│ PC       ┆ 1250.0      │
└──────────┴─────────────┘