## Polars: Mastering Concatenation aka Concat.

In [2]:
import polars as pl

In [3]:
df1 = pl.DataFrame({"a": [1], "b": [3]})
df2 = pl.DataFrame({"a": [2], "b": [4]})

### Simple Concat

In [4]:
pl.concat([df1, df2])

shape: (2, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
│ 2   ┆ 4   │
└─────┴─────┘

### Vertical Relaxed

In [6]:
df1 = pl.DataFrame({"a": [1], "b": [3]})
df2 = pl.DataFrame({"a": [2.5], "b": [4]})

In [8]:
pl.concat([df1, df2], how='vertical_relaxed')

shape: (2, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ f64 ┆ i64 │
╞═════╪═════╡
│ 1.0 ┆ 3   │
│ 2.5 ┆ 4   │
└─────┴─────┘

### Horizontal

In [10]:
df_h1 = pl.DataFrame({"l1": [1, 2], "l2": [3, 4]})
df_h2 = pl.DataFrame({"r1": [5, 6], "r2": [7, 8], "r3": [9, 10]})

In [13]:
pl.concat([df_h1, df_h2], how='horizontal')

shape: (2, 5)
┌─────┬─────┬─────┬─────┬─────┐
│ l1  ┆ l2  ┆ r1  ┆ r2  ┆ r3  │
│ --- ┆ --- ┆ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╪═════╪═════╡
│ 1   ┆ 3   ┆ 5   ┆ 7   ┆ 9   │
│ 2   ┆ 4   ┆ 6   ┆ 8   ┆ 10  │
└─────┴─────┴─────┴─────┴─────┘

### Diagonal

In [14]:
df_d1 = pl.DataFrame({"a": [1], "b": [3]})
df_d2 = pl.DataFrame({"a": [2], "c": [4]})

In [15]:
pl.concat([df_d1, df_d2], how='diagonal')

shape: (2, 3)
┌─────┬──────┬──────┐
│ a   ┆ b    ┆ c    │
│ --- ┆ ---  ┆ ---  │
│ i64 ┆ i64  ┆ i64  │
╞═════╪══════╪══════╡
│ 1   ┆ 3    ┆ null │
│ 2   ┆ null ┆ 4    │
└─────┴──────┴──────┘

### Align

In [17]:
df_a1 = pl.DataFrame({"id": [1, 2], "x": [3, 4]})
df_a2 = pl.DataFrame({"id": [2, 3], "y": [5, 6]})
df_a3 = pl.DataFrame({"id": [1, 3], "z": [7, 8]})

In [18]:
pl.concat([df_a1, df_a2, df_a3], how='align')

shape: (3, 4)
┌─────┬──────┬──────┬──────┐
│ id  ┆ x    ┆ y    ┆ z    │
│ --- ┆ ---  ┆ ---  ┆ ---  │
│ i64 ┆ i64  ┆ i64  ┆ i64  │
╞═════╪══════╪══════╪══════╡
│ 1   ┆ 3    ┆ null ┆ 7    │
│ 2   ┆ 4    ┆ 5    ┆ null │
│ 3   ┆ null ┆ 6    ┆ 8    │
└─────┴──────┴──────┴──────┘

### Concat Str

In [20]:
df = pl.DataFrame(
     {
         "a": [1, 2, 3],
         "b": ["dogs", "cats", None],
         "c": ["play", "swim", "walk"],
     }
 )

In [22]:
df.with_columns(
    pl.concat_str(
        [pl.col('a')*2, pl.col('b'), pl.col('c')],
        separator=' ',
        ignore_nulls=True,
    ).alias('sentence')
)

shape: (3, 4)
┌─────┬──────┬──────┬─────────────┐
│ a   ┆ b    ┆ c    ┆ sentence    │
│ --- ┆ ---  ┆ ---  ┆ ---         │
│ i64 ┆ str  ┆ str  ┆ str         │
╞═════╪══════╪══════╪═════════════╡
│ 1   ┆ dogs ┆ play ┆ 2 dogs play │
│ 2   ┆ cats ┆ swim ┆ 4 cats swim │
│ 3   ┆ null ┆ walk ┆ 6 walk      │
└─────┴──────┴──────┴─────────────┘

### Concat List

In [23]:
df = pl.DataFrame({"a": [[1, 2], [3], [4, 5]], "b": [[4], [], None]})

In [25]:
df.with_columns(pl.concat_list(df['a'], df['b']).alias('con_list'))

shape: (3, 3)
┌───────────┬───────────┬───────────┐
│ a         ┆ b         ┆ con_list  │
│ ---       ┆ ---       ┆ ---       │
│ list[i64] ┆ list[i64] ┆ list[i64] │
╞═══════════╪═══════════╪═══════════╡
│ [1, 2]    ┆ [4]       ┆ [1, 2, 4] │
│ [3]       ┆ []        ┆ [3]       │
│ [4, 5]    ┆ null      ┆ null      │
└───────────┴───────────┴───────────┘