## Polars: Drop and Nulls

In [2]:
!pip install polars

Requirement already satisfied: polars in /home/mayur/Documents/Explore Libraries/Explore-Libraries/.venv/lib/python3.9/site-packages (1.20.0)

In [3]:
import polars as pl
from polars import selectors

In [18]:
data = pl.read_csv('./titanic.csv')

In [19]:
data.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [20]:
"""Get the null count"""

data.null_count()

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

In [21]:
data.shape

(891, 12)

In [22]:
"""Drop unnecessary column"""

data.drop('Cabin')

shape: (891, 11)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────┬────────────┬─────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Parch ┆ Ticket     ┆ Fare    ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---   ┆ ---        ┆ ---     ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ i64   ┆ str        ┆ f64     ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════╪════════════╪═════════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ 0     ┆ A/5 21171  ┆ 7.25    ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆       ┆            ┆         ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ 0     ┆ PC 17599   ┆ 71.2833 ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆       ┆            ┆         ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆       ┆            ┆         ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 0     ┆ STON/O2.   ┆ 7.925   ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆       ┆ 3101282    ┆         ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 0     ┆ 113803     ┆ 53.1    ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆       ┆            ┆         ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 0     ┆ 373450     ┆ 8.05    ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆       ┆            ┆         ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …     ┆ …          ┆ …       ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 0     ┆ 211536     ┆ 13.0    ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆       ┆            ┆         ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 0     ┆ 112053     ┆ 30.0    ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆       ┆            ┆         ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ 2     ┆ W./C. 6607 ┆ 23.45   ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆       ┆            ┆         ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 0     ┆ 111369     ┆ 30.0    ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆       ┆            ┆         ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 0     ┆ 370376     ┆ 7.75    ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆       ┆            ┆         ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────┴────────────┴─────────┴──────────┘

In [23]:
data.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [10]:
"""Drop Column Inplace"""

data.drop_in_place('Cabin')

shape: (891,)
Series: 'Cabin' [str]
[
	null
	"C85"
	null
	"C123"
	null
	…
	null
	"B42"
	null
	"C148"
	null
]

In [11]:
data.head()

shape: (5, 11)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────┬───────────┬─────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Parch ┆ Ticket    ┆ Fare    ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---   ┆ ---       ┆ ---     ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ i64   ┆ str       ┆ f64     ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════╪═══════════╪═════════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ 0     ┆ A/5 21171 ┆ 7.25    ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆       ┆           ┆         ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ 0     ┆ PC 17599  ┆ 71.2833 ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆       ┆           ┆         ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ 0     ┆ STON/O2.  ┆ 7.925   ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆       ┆ 3101282   ┆         ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 0     ┆ 113803    ┆ 53.1    ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆       ┆           ┆         ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 0     ┆ 373450    ┆ 8.05    ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆       ┆           ┆         ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────┴───────────┴─────────┴──────────┘

In [12]:
"""Drop a column based on dtype using selector"""

data.drop(selectors.float())

shape: (891, 9)
┌─────────────┬──────────┬────────┬────────────────────┬───┬───────┬───────┬────────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ SibSp ┆ Parch ┆ Ticket     ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---   ┆ ---   ┆ ---        ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ i64   ┆ i64   ┆ str        ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═══════╪═══════╪════════════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ 1     ┆ 0     ┆ A/5 21171  ┆ S        │
│             ┆          ┆        ┆ Harris             ┆   ┆       ┆       ┆            ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ 1     ┆ 0     ┆ PC 17599   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆       ┆       ┆            ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ 0     ┆ 0     ┆ STON/O2.   ┆ S        │
│             ┆          ┆        ┆ Laina              ┆   ┆       ┆       ┆ 3101282    ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 1     ┆ 0     ┆ 113803     ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆       ┆       ┆            ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 0     ┆ 0     ┆ 373450     ┆ S        │
│             ┆          ┆        ┆ Henry              ┆   ┆       ┆       ┆            ┆          │
│ …           ┆ …        ┆ …      ┆ …                  ┆ … ┆ …     ┆ …     ┆ …          ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.     ┆ … ┆ 0     ┆ 0     ┆ 211536     ┆ S        │
│             ┆          ┆        ┆ Juozas             ┆   ┆       ┆       ┆            ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.      ┆ … ┆ 0     ┆ 0     ┆ 112053     ┆ S        │
│             ┆          ┆        ┆ Margaret Edith     ┆   ┆       ┆       ┆            ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.    ┆ … ┆ 1     ┆ 2     ┆ W./C. 6607 ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…    ┆   ┆       ┆       ┆            ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl     ┆ … ┆ 0     ┆ 0     ┆ 111369     ┆ C        │
│             ┆          ┆        ┆ Howell             ┆   ┆       ┆       ┆            ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.        ┆ … ┆ 0     ┆ 0     ┆ 370376     ┆ Q        │
│             ┆          ┆        ┆ Patrick            ┆   ┆       ┆       ┆            ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴───────┴───────┴────────────┴──────────┘

In [13]:
"""create empty row with null"""

data.clear(n=2)

shape: (2, 11)
┌─────────────┬──────────┬────────┬──────┬───┬───────┬────────┬──────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Parch ┆ Ticket ┆ Fare ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---   ┆ ---    ┆ ---  ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str  ┆   ┆ i64   ┆ str    ┆ f64  ┆ str      │
╞═════════════╪══════════╪════════╪══════╪═══╪═══════╪════════╪══════╪══════════╡
│ null        ┆ null     ┆ null   ┆ null ┆ … ┆ null  ┆ null   ┆ null ┆ null     │
│ null        ┆ null     ┆ null   ┆ null ┆ … ┆ null  ┆ null   ┆ null ┆ null     │
└─────────────┴──────────┴────────┴──────┴───┴───────┴────────┴──────┴──────────┘

In [14]:
"""Check if dataframe is empty"""

data.is_empty()

False

In [15]:
"""Drop specific column with contains null value"""

data.drop_nulls('Embarked')

shape: (889, 11)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────┬────────────┬─────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Parch ┆ Ticket     ┆ Fare    ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---   ┆ ---        ┆ ---     ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ i64   ┆ str        ┆ f64     ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════╪════════════╪═════════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ 0     ┆ A/5 21171  ┆ 7.25    ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆       ┆            ┆         ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ 0     ┆ PC 17599   ┆ 71.2833 ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆       ┆            ┆         ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆       ┆            ┆         ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 0     ┆ STON/O2.   ┆ 7.925   ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆       ┆ 3101282    ┆         ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 0     ┆ 113803     ┆ 53.1    ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆       ┆            ┆         ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 0     ┆ 373450     ┆ 8.05    ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆       ┆            ┆         ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …     ┆ …          ┆ …       ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 0     ┆ 211536     ┆ 13.0    ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆       ┆            ┆         ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 0     ┆ 112053     ┆ 30.0    ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆       ┆            ┆         ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ 2     ┆ W./C. 6607 ┆ 23.45   ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆       ┆            ┆         ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 0     ┆ 111369     ┆ 30.0    ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆       ┆            ┆         ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 0     ┆ 370376     ┆ 7.75    ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆       ┆            ┆         ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────┴────────────┴─────────┴──────────┘

In [16]:
"""Drop column containing null using dtype: float, using selector"""

data.drop_nulls(selectors.float())

shape: (714, 11)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────┬───────────┬─────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Parch ┆ Ticket    ┆ Fare    ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---   ┆ ---       ┆ ---     ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ i64   ┆ str       ┆ f64     ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════╪═══════════╪═════════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ 0     ┆ A/5 21171 ┆ 7.25    ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆       ┆           ┆         ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ 0     ┆ PC 17599  ┆ 71.2833 ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆       ┆           ┆         ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ 0     ┆ STON/O2.  ┆ 7.925   ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆       ┆ 3101282   ┆         ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 0     ┆ 113803    ┆ 53.1    ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆       ┆           ┆         ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 0     ┆ 373450    ┆ 8.05    ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆       ┆           ┆         ┆          │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …     ┆ …         ┆ …       ┆ …        │
│ 886         ┆ 0        ┆ 3      ┆ Rice, Mrs.        ┆ … ┆ 5     ┆ 382652    ┆ 29.125  ┆ Q        │
│             ┆          ┆        ┆ William (Margaret ┆   ┆       ┆           ┆         ┆          │
│             ┆          ┆        ┆ N…                ┆   ┆       ┆           ┆         ┆          │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.    ┆ … ┆ 0     ┆ 211536    ┆ 13.0    ┆ S        │
│             ┆          ┆        ┆ Juozas            ┆   ┆       ┆           ┆         ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.     ┆ … ┆ 0     ┆ 112053    ┆ 30.0    ┆ S        │
│             ┆          ┆        ┆ Margaret Edith    ┆   ┆       ┆           ┆         ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl    ┆ … ┆ 0     ┆ 111369    ┆ 30.0    ┆ C        │
│             ┆          ┆        ┆ Howell            ┆   ┆       ┆           ┆         ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.       ┆ … ┆ 0     ┆ 370376    ┆ 7.75    ┆ Q        │
│             ┆          ┆        ┆ Patrick           ┆   ┆       ┆           ┆         ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────┴───────────┴─────────┴──────────┘

In [17]:
"""Drop column containing null using dtype: string, using selector"""

data.drop_nulls(selectors.string())

shape: (889, 11)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────┬────────────┬─────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Parch ┆ Ticket     ┆ Fare    ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---   ┆ ---        ┆ ---     ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ i64   ┆ str        ┆ f64     ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════╪════════════╪═════════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ 0     ┆ A/5 21171  ┆ 7.25    ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆       ┆            ┆         ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ 0     ┆ PC 17599   ┆ 71.2833 ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆       ┆            ┆         ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆       ┆            ┆         ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 0     ┆ STON/O2.   ┆ 7.925   ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆       ┆ 3101282    ┆         ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 0     ┆ 113803     ┆ 53.1    ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆       ┆            ┆         ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 0     ┆ 373450     ┆ 8.05    ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆       ┆            ┆         ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …     ┆ …          ┆ …       ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 0     ┆ 211536     ┆ 13.0    ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆       ┆            ┆         ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 0     ┆ 112053     ┆ 30.0    ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆       ┆            ┆         ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ 2     ┆ W./C. 6607 ┆ 23.45   ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆       ┆            ┆         ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 0     ┆ 111369     ┆ 30.0    ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆       ┆            ┆         ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 0     ┆ 370376     ┆ 7.75    ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆       ┆            ┆         ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────┴────────────┴─────────┴──────────┘